@font-face {

    font-family: 'myriad-light';

    src: url('../fonts/Myriad-Pro-Light.ttf');
}
@font-face {

    font-family: 'myriad-bold';

    src: url('../fonts/Myriad-pro-Bold.otf');
}
@font-face {

    font-family: 'myriad-regular';

    src: url('../fonts/Myriad-pro-regular.otf');
}
@font-face{

    font-family: 'trebuschet';

    src: url("../fonts/trebuschet.ttf");
}

body{
    max-height: content-box;
    margin: 0;
    padding: 0;
}

button{
    color: white;
    font-family: trebuschet;
}

.recomend{
    font-size: 2.25rem;
    font-weight: 300;
    max-width: 339px;
}

.content{
    width: 90%;
    height: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.center_left_block{
    border: 3px solid #e85f20;
    height: 297px;
    display: flex;
    max-width: 430px;
}

.center_right_block{
    border: 3px solid #02c466;
    height: 297px;
    display: flex;
    max-width: 430px;
}

.employees{
    display: flex;
    align-items: center;
    max-width: 273px;
}

.icon_l{
    margin: 0 24px 0 0;
}

p.orange{
    color: #e85f20;
    font-size: 2.5rem;
    margin: 0 13px 0 9px;
}

p.green{
    color: #02c466;
    font-size: 2.5rem;
    margin: 0 13px 0 9px;
}

.top{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text{
    display: flex;
    flex-direction: column;
}


.header{
    min-height: 65px;
    margin: 0;
    padding: 0;
}

.header_top .menu .logo{
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    color: #2457e8;
    font-family: myriad-bold;
}

.header_top .menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /*background: #2457e8;*/
    width: 100%;
}

.header_top .menu .button_top button{
    width: 198px;
    height: 43px;
    background-color: #2457e8;
    border-radius: 5%;
    border: #2457e8;
}

.header_top .menu .center_menu ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    width: 693px;
}
.header_top .menu .center_menu a{
    /*margin-right: 25px;*/
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    color: #000000;
    font-family: myriad-regular;
}

.business_products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background: bisque;*/
}

.business_products .h1{
    width: 45%;
    font-size: 43px;
    font-weight: 300;
    text-align: center;
    color: #2457e8;
    font-family: myriad-bold;
    padding: 0 30px;
}

.business_products .text{
    width: 90%;
}

.business_products .text p{
    color: #000000;
    font-size: 43px;
    font-weight: 300;
    margin-top: 0;
    /*line-height: 181px;*/
    text-align: center;
    font-family: 'myriad-light';

}

.photo img{
    max-width: 100%;

}

.next_degree .freestyle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 581px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-family: myriad-light;
}

.next_degree .freestyle .h1{
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 60px;
    color: #000000;
}

.next_degree .freestyle .text{
    color: #666666;
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    width: 80%;
    margin: auto;
}

.next_degree .freestyle .button_down button{
    width: 186px;
    height: 63px;
    background-color: #24aae8;
    border-radius: 5%;
    border: #24aae8;
    margin-bottom: 100px;
}

.blue_box{
    max-width: 90%;
    height: 950px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(36,87,232, 0.9) url("../images/fon.png") no-repeat ;
    background-size: cover;
}


.blue_box .text_top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 80%;
    margin: auto;
    font-family: myriad-light;
}
.blue_box .text_top h1{
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: white;
    padding-bottom: 66px;
}

.blue_box .small_text{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
}

.info{
    margin: 100px 0 0;
}

.blue_box .small_text .p1{
    font-size: 14px;
    font-weight: 700;
    color: #dcc757;
    padding-bottom: 81px;
    font-family: myriad-bold;
}

.blue_box .small_text .p2{
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    font-family: myriad-regular;
}

.blue_box .bottom_block{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: myriad-bold;
}

.blue_box .bottom_block{
    width: 80%;
    margin: auto;
}

.blue_box .bottom_block .big_text .p1{
    font-size: 49px;
    font-weight: 700;
    line-height: 62px;
    color: #2439a8;
    background: #e3b51a;
    margin-bottom: 8px;
}

.blue_box .bottom_block .big_text .p2{
    margin-top: 0;
    font-size: 49px;
    font-weight: 700;
    line-height: 62px;
    color: #2439a8;
    background: #e3b51a;
}

.blue_box .bottom_block .text{
    max-width: 452px;
    font-size: 16px;
    font-weight: 400;
    color: white;
    line-height: 24px;
    font-family: myriad-regular;
}

.blue_box .bottom_block .button_video{
    text-align: center;
    width: 196px;
    height: 63px;
    background: #02c466;
}

.vista{
    width: 1215px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    font-family: myriad-light;
    height: 860px;
}

.vista .block_top{
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    align-content: center;
    max-width: 584px;
    text-align: center;
}

.empty{
    height: 2439px;
}

.vista .block_top .h_text{
    font-size: 80px;
    font-weight: 700;
    font-family: myriad-bold;
}

.vista .block_top .h_text p{
    margin-bottom: 0;
}

.vista .block_top .p_text{
    font-size: 20px;
    font-weight: 300;
}
.block_center{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
}

.block_center .right_block .top_txt{
    max-width: 385px;
    display: flex;
    flex-wrap: wrap;
    font-size: 26px;
    font-weight: 400;
    margin-bottom:55px;
    font-family: myriad-regular;
}

.block_center .right_block .txt{
    max-width: 436px;
    color: #666666;
}

.block_center .right_block .txt .center_txt{
    font-size: 20px;
}

.block_center .right_block .txt .footer_txt{
    font-size: 16px;
    font-weight: 300;
}

.button_video button{
    margin-bottom: 344px;
    width: 196px;
    height: 63px;
    background-color: #02c466;
    border-radius: 5%;
    border: #02c466;
}

.delivery_options .text_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.delivery_options .text_header .top {
    font-size: 80px;
    font-weight: 700;
}

.delivery_options .text_header .top p {
    margin-bottom: 0;
    font-family: myriad-bold;
}

.delivery_options .text_header .foot{
    font-size: 20px;
    font-weight: 300;
    max-width: 561px;
}

.delivery_options .up .menu_footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

ol{
    width: 330px;
}

.delivery_options .up .menu_footer ul li{
    list-style-type: none;
}

.delivery_options .up .menu_footer ul li a{
    text-decoration: none;
    color: #999999;
    font-size: 14px;
    font-weight: 400;
}

.delivery_options .up .menu_footer ul li .a1{
    color: #2457e8;
    font-weight: 700;
    font-family: myriad-bold;
}

.delivery_options .up{
    max-width: 722px;
    width: 80%;
    margin: auto;
}

.delivery_options{
    width: 1215px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    font-family: myriad-light;
}

.delivery_options .center{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
}

.delivery_options .center .left .left_up{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.delivery_options .center .right .right_up{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.delivery_options .center .left .left_up .button{
    padding: 70px;
}

.delivery_options .center .right .right_up .button{
    padding: 70px;
}

.delivery_options .center .left  .center_left_block img{
    height: auto;
    width: auto;
}

.delivery_options .center .right .right_up {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.delivery_options .center .left .text{
    max-width: 494px;
}

.delivery_options .center .right .text{
    max-width: 494px;
}

.delivery_options .text_header .top{
    max-width: 722px;
    font-size: 80px;
    font-weight: 700;
}

.delivery_options .text_header .foot{
    font-size: 20px;
    font-weight: 300;
}

.delivery_options .center .left .left_up .p1{
    color: #000000;
    font-size: 42px;
    font-weight: 300;
    margin-bottom: 0;
}
.delivery_options .center .left .left_up .p2 {
    color: #e85f20;
    font-size: 42px;
    font-weight: 300;
    margin-top: 0;
}

.delivery_options .center .left .left_up button{
    width: 146px;
    height: 43px;
    background-color: #24aae8;
    border-radius: 5%;
    border: #02c466;
}

.delivery_options .center .left .text{
    color: #666666;
    font-size: 16px;
    font-weight: 300;
    max-width: 430px;
}

.delivery_options .center .right .text{
    color: #666666;
    font-size: 16px;
    font-weight: 300;
    max-width: 430px;
}

.delivery_options .center .left .text h1{
    font-size: 20px;
    font-weight: 300;
    /*color: #666666;*/
}

.delivery_options .center .right .text h1{
    font-size: 20px;
    font-weight: 300;
    color: #666666;
}

.delivery_options .center .right .right_up .p1{
    color: #000000;
    font-size: 42px;
    font-weight: 300;
    margin-bottom: 0;
}

.delivery_options .center .right .right_up .p2 {
    color: #02c466;
    font-size: 42px;
    font-weight: 300;
    margin-top: 0;
}

.delivery_options .center .right .right_up button {
    width: 146px;
    height: 43px;
    background-color: #24aae8;
    border-radius: 5%;
    border: #02c466;
}

.delivery_options .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
}

.delivery_options .info a{
    color: #24aae8;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-decoration: none;
}

.additional_modules{
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    font-family: myriad-light;
}

.additional_modules .footer_top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 598px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0 15px;
}

.additional_modules .footer_top p{
    font-size: 36px;
    font-weight: 300;
}

.additional_modules .footer_bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #666666;
    width: 80%;
    margin: auto;
}

.additional_modules .footer_bottom .block_one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 206px;
    align-items: center;
    text-align: center;
    height: max-content;
}

.additional_modules .footer_bottom .block_two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 206px;
    height: max-content;
    align-items: center;
    text-align: center;
}

.additional_modules .footer_bottom .block_three{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 206px;
    height: max-content;
    align-items: center;
    text-align: center;
}

.additional_modules .footer_bottom .block_four{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 206px;
    height: max-content;
    align-items: center;
    text-align: center;
}

.additional_modules .footer_bottom h6{
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 25px;
}

.additional_modules .footer_bottom p{
    font-size: 14px;
    font-weight: 300;
}

.additional_modules .footer_bottom a{
    text-decoration: none;
    color: #24aae8;
}

footer{
    height: 140px;
    width: 100%;
    font-family: myriad-light;
}

footer .wrapper{
    width: 70%;
    margin: auto;
    padding: 49px 0;
}

footer p{
    color: #999999;
    font-size: 14px;
}

/*// Large devices (desktops, less than 1200px)*/
@media (max-width: 1023px) {
    .delivery_options .center .left .left_up .button{
        padding: 70px 0;
    }

    .delivery_options .center .right .right_up .button{
        padding: 70px 0;
    }


    .header_top .menu .center_menu ul{
        display: flex;
        flex-direction: column;
        /*list-style-type: none;*/
        width: 100%;
    }

    .menu .center_menu ul li{
        margin-bottom: 10px;
    }

    .logo{
        margin-bottom: -20px;
    }

    .menu .button_top{
        margin: 0 0 55px 0;
    }

    header .header_top .menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .photo img {
        max-width: 100%;
    }

    .blue_box .bottom_block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .blue_box .bottom_block .big_text .p1 {
        font-size: 2rem;
    }
    .blue_box .bottom_block .big_text .p2 {
        font-size: 2rem;
    }

    .blue_box .small_text {
        display: flex;
        flex-direction: column;
    }

    .blue_box .small_text .p1 {
        padding-bottom: 0;
    }

    .blue_box{
        max-width: 100%;
    }

    .vista .block_top .h_text {
        font-size: 2rem;
    }

    .block_center .right_block .top_txt{
        margin: 0 0 55px 25px;
    }

    .block_center .left_block img{
        width: 100%;
        height: auto;
    }

    .delivery_options .text_header .top {
        font-size: 3rem;
    }

    .delivery_options .up .menu_footer ul {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .delivery_options .center .left .left_up {
        display: flex;
        flex-direction: column;
    }

    .delivery_options .center .left .center_left_block img {
        height: auto;
        width: 100%;
    }

    .delivery_options .center .right .right_up {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .center_right_block img{
        width: 100%;
        height: auto;
    }

    .business_products .h1 {
        width: auto;
        font-size: 1rem;
        font-weight: 300;
        text-align: center;
        color: #2457e8;
    }

    .business_products .text p {
        color: #000000;
        font-size: 2rem;
        font-weight: 300;
        margin-top: 0;
        text-align: center;
    }

    .delivery_options .center{
        display: flex;
        flex-direction: column;
    }
    .header_top .menu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 60px;

    }

    .vista .block_center{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer .footer_top{
    }

    .delivery_options{
        height: max-content;
    }

    .button_video button {
        margin-bottom: 0;
    }

    .vista{
        height: auto;
    }

    .additional_modules .footer_top p {
        font-size: 2rem;
    }

    body{
        text-align: center;
    }

    .header_top .menu .center_menu ul{
        display: flex;
        flex-direction: column;
        list-style-type: none;
    }

    .delivery_options .center{
        display: flex;
        flex-direction: column;
    }

    .header_top .menu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 60px;
        /*background: #2457e8;*/

    }

    .additional_modules{
        margin: 0;
        height: auto;
    }

    .right .text{
        margin: auto;
    }
    .left .text{
        margin: auto;
    }

    .content{
        align-items: center;
    }

    .center_left_block{
        margin: auto;
    }
    .center_right_block{
        margin: auto;
    }

    .center .left .text{
        text-align: left;
    }
    .center .right .text{
        text-align: left;
    }
}
@media (max-width: 1000px){
    .additional_modules .footer_bottom{
        flex-wrap: wrap;
        margin: auto;
    }
    .block_one{
        flex: 1 0 50%;
        margin: 0 0 15px 0;
    }
    .block_two{
        flex: 1 0 50%;
        margin: 0 0 15px 0;
    }
    .block_three{
        flex: 1 0 50%;
        margin: 0 0 15px 0;
    }
    .block_four{
        flex: 1 0 50%;
        margin: 0 0 15px 0;
    }
}

@media (max-width: 600px){
    .block_one{
        flex: 1 0 100%;
        margin: 0 0 15px 0;
        max-width: 200px;
    }
    .block_two{
        flex: 1 0 100%;
        margin: 0 0 15px 0;
        max-width: 200px;
    }
    .block_three{
        flex: 1 0 100%;
        margin: 0 0 15px 0;
        max-width: 200px;
    }
    .block_four{
        flex: 1 0 100%;
        margin: 0 0 15px 0;
        max-width: 200px;
    }
    .block_top .p_text{
        width: 80%;
        margin: auto;
    }
}

@media (max-width: 515px) {
    .block_center .right_block .top_txt {
        margin: 0;
    }
}

@media (max-width: 300px) {
   .recomend{
       font-size: 1rem;
   }
    .employees p{
        font-size: 0.5rem;
    }
}