body{
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    max-width: content-box;
}
.header{
    min-height: 65px;
    margin: 0;
    padding: 0;
    /*background: #dcc757;*/
}

.header_top .menu .logo{
    max-font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    color: #2457e8;
}

.header_top .menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /*background: #2457e8;*/

}

.header_top .menu .button_top button{
    width: 198px;
    height: 43px;
    background-color: #2457e8;
    border-radius: 5%;
    border: #2457e8;
}

.header_top .menu .center_menu{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.header_top .menu .center_menu a{
    margin-right: 25px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    color: #000000;
}

.header_center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background: bisque;*/
}

.header_center .h1{
    width: 570px;
    font-size: 43px;
    font-weight: 300;
    text-align: center;
    color: #2457e8;
}

.header_center .text p{
    color: #000000;
    font-size: 43px;
    font-weight: 300;
    margin-top: 0;
    line-height: 181px;
    text-align: center;
}

.photo img{
    max-width: 100%;

}

.header_bottom .freestyle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 581px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.header_bottom .freestyle .h1{
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 60px;
    color: #000000;

}

.header_bottom .freestyle .text{
    color: #666666;
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
}

.header_bottom .freestyle .button_down button{
    width: 186px;
    height: 63px;
    background-color: #24aae8;
    border-radius: 5%;
    border: #24aae8;
    margin-bottom: 100px;
}

.header_down{
    background: #2457e8;
    /*max-width: 1215px;*/
    max-width: 95%;
    height: 950px;
    margin-left: auto;
    margin-right: auto;
}


.header_down .text_top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
}
.header_down .text_top h1{
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: white;
    padding-bottom: 66px;
}

.header_down .small_text{
    display: flex;
    justify-content: space-evenly;
}

.header_down .small_text .p1{
    font-size: 14px;
    font-weight: 700;
    color: #dcc757;
    padding-bottom: 81px;
}

.header_down .small_text .p2{
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
}

.header_down .bottom_block{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header_down .bottom_block .big_text .p1{
    font-size: 49px;
    font-weight: 700;
    line-height: 62px;
    color: #2439a8;
    background: #e3b51a;
    margin-bottom: 8px;
}

.header_down .bottom_block .big_text .p2{
    margin-top: 0;
    font-size: 49px;
    font-weight: 700;
    line-height: 62px;
    color: #2439a8;
    background: #e3b51a;
}

.header_down .bottom_block .text{
    max-width: 452px;
    font-size: 16px;
    font-weight: 400;
    color: white;
    line-height: 24px;
}

.header_down .bottom_block .button_video{
    text-align: center;
    width: 196px;
    height: 63px;
    background: #02c466;
}

.section_top{
    /*background: coral;*/
    width: 1215px;
    height: 950px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

section .section_top .block_top{
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    align-content: center;
    max-width: 584px;
    text-align: center;
}

section{
    height: 2439px;

}

section .section_top .block_top .h_text{
    font-size: 80px;
    font-weight: 700;
}

section .section_top .block_top .h_text p{
    margin-bottom: 0;
}

section .section_top .block_top .p_text{
    font-size: 20px;
    font-weight: 300;
}
section .block_center{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

section .block_center .right_block .top_txt{
    max-width: 385px;
    display: flex;
    flex-wrap: wrap;
    font-size: 26px;
    font-weight: 400;
    margin-bottom:55px;
}

section .block_center .right_block .txt{
    max-width: 436px;
    color: #666666;
}

section .block_center .right_block .txt .center_txt{
    font-size: 20px;
}

section .block_center .right_block .txt .footer_txt{
    font-size: 16px;
    font-weight: 300;
}

.button_video button{
    margin-bottom: 344px;
    width: 196px;
    height: 63px;
    background-color: #02c466;
    border-radius: 5%;
    border: #02c466;
}

section .section_footer .text_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

section .section_footer .text_header .top {
    font-size: 80px;
    font-weight: 700;
}

section .section_footer .text_header .top p {
    margin-bottom: 0;
}

section .section_footer .text_header .foot{
    font-size: 20px;
    font-weight: 300;
    max-width: 561px;
}

section .section_footer .up .menu_footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

section .section_footer .up .menu_footer ul li{
    list-style-type: none;
}

section .section_footer .up .menu_footer ul li a{
    text-decoration: none;
    color: #999999;
    font-size: 14px;
    font-weight: 400;
}

section .section_footer .up .menu_footer ul li .a1{
    color: #2457e8;
    font-weight: 700;
}

section .section_footer .up{
    max-width: 722px;
    margin-left: auto;
    margin-right: auto;
}

.section_footer{
    width: 1215px;
    height: 950px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

section .section_footer .center{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

section .section_footer .center .left .left_up{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section .section_footer .center .right .right_up{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section .section_footer .center .left .left_up .button{
    padding: 70px;
}

section .section_footer .center .right .right_up .button{
    padding: 70px;
}

section .section_footer .center .left  .center_left_block img{
    height: auto;
    width: auto;
}

section .section_footer .center .right .right_up {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section .section_footer .center .left .text{
    max-width: 494px;
}

section .section_footer .center .right .text{
    max-width: 494px;
}

section .section_footer .text_header .top{
    max-width: 722px;
    font-size: 80px;
    font-weight: 700;
}

section .section_footer .text_header .foot{
    font-size: 20px;
    font-weight: 300;
}

section .section_footer .center .left .left_up .p1{
    color: #000000;
    font-size: 42px;
    font-weight: 300;
    margin-bottom: 0;
}
section .section_footer .center .left .left_up .p2 {
    color: #e85f20;
    font-size: 42px;
    font-weight: 300;
    margin-top: 0;
}

section .section_footer .center .left .left_up button{
    width: 146px;
    height: 43px;
    background-color: #24aae8;
    border-radius: 5%;
    border: #02c466;
}

section .section_footer .center .left .text{
    color: #666666;
    font-size: 16px;
    font-weight: 300;
}

section .section_footer .center .right .text{
    color: #666666;
    font-size: 16px;
    font-weight: 300;
}

section .section_footer .center .left .text h1{
    font-size: 20px;
    font-weight: 300;
    /*color: #666666;*/
}

section .section_footer .center .right .text h1{
    font-size: 20px;
    font-weight: 300;
    color: #666666;
}

section .section_footer .center .right .right_up .p1{
    color: #000000;
    font-size: 42px;
    font-weight: 300;
    margin-bottom: 0;
}

section .section_footer .center .right .right_up .p2 {
    color: #e85f20;
    font-size: 42px;
    font-weight: 300;
    margin-top: 0;
}

section .section_footer .center .right .right_up button {
    width: 146px;
    height: 43px;
    background-color: #24aae8;
    border-radius: 5%;
    border: #02c466;
}

section .section_footer .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section .section_footer .info a{
    color: #24aae8;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-decoration: none;
}

/*.footer .footer_block{*/
/*    max-width: 1215px;*/
/*    margin-right: auto;*/
/*    margin-left: auto;*/
/*}*/

section .footer{
    height: 607px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer .footer_top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 598px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.footer .footer_top p{
    font-size: 36px;
    font-weight: 300;
    line-height: 27px;
}

.footer .footer_bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #666666;
}

.footer .footer_bottom .block_one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 206px;
    height: 131px;
    align-items: center;
    text-align: center;
}

.footer .footer_bottom .block_two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 206px;
    height: 131px;
    align-items: center;
    text-align: center;
}

.footer .footer_bottom .block_three{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 206px;
    height: 131px;
    align-items: center;
    text-align: center;
}

.footer .footer_bottom .block_four{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 206px;
    height: 131px;
    align-items: center;
    text-align: center;
}

.footer .footer_bottom h6{
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 25px;
}

.footer .footer_bottom p{
    font-size: 14px;
    font-weight: 300;
}

.footer .footer_bottom a{
    text-decoration: none;
    color: #24aae8;
}
